<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<title>Python Flask Invoice Parsing App</title>
<body>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
<h2>Aplikacja do parsowania danych z faktury</h2>
<div class="row">
    <div class="column">
        <h2>Wybierz fakturę</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <input type="file" name="file" autocomplete="off" required onchange="form.submit()"
                       style="color: #ffffff; outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; cursor: pointer; background-color: blue; display: inline-block">
            </dl>
        </form>
        <body>
        <div class="container">
            <form action="/add">
                <div class="row">
                    <div class="col-25">
                        <label for="numer">Numer faktury</label>
                    </div>
                    <div class="col-75">
                        <input type="text" value={{ numer }} id="numer" name="numer" placeholder="Numer faktury..">
                    </div>
                </div>
                <div class="col">
                    <div class="col-25">
                        <label for="wystawienie">Data wystawienia</label>
                    </div>
                    <div class="col-25">
                        <input type="text" value={{ data_wystawienia }} id="wystawienie" name="wystawienie"
                               placeholder="01/01/1000">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="sprzedaz">Data sprzedaży</label>
                    </div>
                    <div class="col-25">
                        <input type="text" value={{ data_sprzedazy }} id="sprzedaz" name="sprzedaz"
                               placeholder="01/01/1000">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="stawka">Stawka</label>
                    </div>
                    <div class="col-75">
                        <input type="text" value={{ stawka }} id="stawka" name="stawka" placeholder="23%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="kwota">Kwota</label>
                    </div>
                    <div class="col-75">
                        <input type="text" value={{ kwota }} id="kwota" name="kwota" placeholder="0 PLN">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="sprzedawca">Sprzedawca</label>
                    </div>
                    <div class="col-75">
                        <textarea id="sprzedawca" name="sprzedawca" placeholder="Dane sprzedawcy.."
                                  style="height:100px">{{ sprzedawca }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="nabywca">Nabywca</label>
                    </div>
                    <div class="col-75">
                        <textarea id="nabywca" name="nabywca" placeholder="Dane nabywcy.." style="height:100px">{{ nazwa }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Zapisz">
                </div>
            </form>
        </div>

        </body>
    </div>
    <div class="column">
        {% if filename %}
        <div>
            <embed src="{{ url_for('display_image', filename=filename) }}" width="650px" , height="700px"/>
        </div>
        {% endif %}
    </div>
</div>

</body>

</html>
